.flex-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    background-color: rgb(84, 138, 109);
    padding: 10px;
}

.ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: cadetblue;
}

.ul.topnav li a{
    display: block;
    color: beige;
    padding: 10px;
    text-decoration: none;
}
